beautifulsoup4==4.9.3
Flask==1.1.2
Flask-APScheduler==1.12.2
Flask-Cors==3.0.9
Flask-RESTful==0.3.8
Flask-Session==0.3.2
Flask-SocketIO==5.0.1
Flask-SQLAlchemy==2.4.3
gunicorn==20.0.4
Jinja2==2.11.2
joblib==1.0.0
lxml==4.6.2
pickleshare==0.7.5
python-dateutil==2.8.1
python-firebase
python-socketio==5.1.0
pywhatkit==4.7
requests==2.24.0
urllib3==1.25.9
virtualenv==20.0.31
virtualenv-clone==0.5.4
wikipedia==1.4.0
